#########################################################
### CONFIGURAÇÃO DO CLIENTE #############################
#########################################################
# Configuração: user
#########################################################

[Interface]
PrivateKey = PrivateKey
Address =  Address 
DNS = DNS 

[Peer]
PersistentKeepalive = PersistentKeepalive 
PublicKey = PublicKey 
Endpoint = Endpoint 
AllowedIPs = AllowedIPs 
#########################################################
